/* generic styles */

.box {
  background: #f90 url(/images/nose_top.png) no-repeat;
  padding: 22px 12px 10px 12px;
  margin: -5px 0 27px 0;
  color: #fff;
}

.box a, .box a:visited {
  color: #fff;
}

.stroke_heavy {
  top: 0;
  margin-top: 9px;
  padding-top: 8px;
  border-top: 1px solid #262626;
}

.width1.stroke_heavy {
  top: 0;
  margin-top: 9px;
  padding-top: 5px;
  border-top: 3px solid #262626;
}

.stroke_heavy>div:first-child {
  margin-top: -5px;
}

.stroke_light {
  top: 0;
  margin-top: 9px;
  padding-top: 8px;
  border-top: 1px solid #D9D9D9;
}

.stroke_none {
  top: 0;
  margin-top: 9px;
  padding-top: 9px;
}

p.stroke_light, .meta p, p.tags {
  text-indent: 0;
}

/* TODO: extract typography and make HelveticaNeue-Light failsafe */

p.intro, .intro p {
  font-family: HelveticaNeue-Light, Helvetica, Arial;
  font-size: 32px;
  line-height: 36px;
  padding-bottom: 0;
  padding-top: 9px;
  text-indent: 0;
  word-spacing: 0.05em;
  color: #262626;
}

div.intro, h1+p.intro, p.intro+p.intro {
  margin-top: 10px;
}

.home, .projects {
  padding-bottom: 0;
}

h1, h2, h3, h4, h5, h6, strong, .meta, .tags {
  color: #262626;
}

h1 {
  font-family: HelveticaNeue-Light, Helvetica, Arial;
  font-weight: bold;
}

h2 {
  font-family: HelveticaNeue-Light, Helvetica, Arial;
}

/* header */

#page>header {
  border-bottom: 1px solid #262626;
  margin-bottom: 17px;
  padding-bottom: 0;
  background: #F2F2F2;
}

#page>header h1, h1.claim {
  margin-bottom: 18px;
}

.menu {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  top: 0;
}

.menu li {
  display: block;
  float: left;
}

.menu a {
  display: block;
  padding: 23px 6px 0 6px;
  height: 31px;
}

.menu a:hover, .menu a:visited:hover, .menu a.active, .menu a:visited.active {
  background: #262626;
  color: #fff;
}

.menu a, .menu a:visited, .login a, .login a:visited {
  color: #262626;
}

#page>header h1 a, #page>header .menu a {
  text-decoration: none;
}

#page>header h1 a, #page>header .login a {
  color: #262626;
}

#page>header h1 a:hover, #page>header .login a:hover {
  background: none;
  color: #f90;
}

#page>header .login {
  margin-top: 18px;
  text-align: right;
}

/* forms */

.notice {
  margin-bottom: -9px;
}

.errorExplanation {
  background: #c00;
  padding: 8px 12px;
  color: #fff;
}

.errorExplanation h2 {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.button-to, .button-to div {
  display: inline;
}

.form_advisor {
  padding: 3px 6px 3px 18px;
  width: 212px;
  background: #f90 url(/images/nose_left.png) no-repeat;
  color: #fff;
}

.actions { 
  text-align: right;
}

.actions input, .button-to input {
  font-family: HelveticaNeue, Helvetica, Arial;
  background: #8c8c8c;
  background: -webkit-gradient(linear, left top, left bottom, from(#8c8c8c), to(#262626));
  margin-top: -1px;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 -1px 2px rgba(1, 1, 1, 0.35);
  color: #fff;
  border: none;
  border-bottom: 1px solid #262626;
}

.actions input:hover, .button-to input:hover {
  background: #6f6f6f;
  background: -webkit-gradient(linear, left top, left bottom, from(#6f6f6f), to(#0d0d0d));
  border-bottom: 1px solid #0d0d0d;
}

/* home */

h1.claim {
  font-size: 60px;
  letter-spacing: -0.04em;
  line-height: 54px;
  top: 4px;
  margin-top: 18px;
}

.home .intro {
  margin-top: 23px;
}

.home .intro p {
  font-size: 28px;
  line-height: 30px;
  padding-bottom: 0;
  padding-top: 0;
  text-indent: 0;
  margin-top: 6px;
}

.home .video {
  margin-top: 18px;
  padding-bottom: 0;
  height: 270px;
  background: #8C8C8C;
}

.stroke_heavy.home {
  margin-top: 0;
  padding-top: 0;
}

/* projects and users */

ul.projects, ul.users {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

ul.projects li, ul.users li {
  top: 0;
}

ul.projects p + p {
  text-indent: 0;
}

.projects div.unitx1, div.projects .unitx3, .users div.unitx1, .users div.unitx3 {
  padding-bottom: 13px;
}

.users .unitx1, .users .unitx3 {
  padding-bottom: 11px;
}

.projects.all, .users.all {
  margin-top: 14px;
}

.projects p, .users p {
  margin: 4px 0;
}

.projects h6 {
  position: relative;
}

.projects h6 span.actions {
  position: absolute;
  top: 0;
  right: 0;
}

.projects .unitx1.first img {
  width: 105px;
  height: 108px;
}

.project .meta img {
  height: 234px;
}

ul.tags { list-style-type: none; margin:18px 0; padding:0; height:18px; }
ul.tags li { display:block; border:1px solid #432; float:left; background:#fe0 ;margin:2px; padding:2px 4px;}

.kudos_box dl, .kudos_box .kudos_actions {
  font-size: 15px;
  font-weight: bold;
  color: #262626;
}

.kudos_box dl {
  position: relative;
  margin-top: -8px;
  padding: 11px 6px 0 6px;
  border-top: 3px solid #262626;
  height: 16px;
}

.kudos_box dd {
  position: absolute;
  top: 11px;
  right: 6px;
  padding: 0;
  text-align: right;
}

.kudos_box dd img {
  vertical-align: top;
}

.kudos_actions {
  padding: 8px 6px 10px 6px;
  border-top: 1px solid #8c8c8c;
  border-bottom: 1px solid #8c8c8c;
  background: #f2f2f2;
}

.kudos_box .kudos_actions input {
  font-size: 28px;
  line-height: 28px;
  height: 28px;
  font-weight: normal;
  padding-top: 0;
  vertical-align: bottom;
}

.feedback_form>div.width2, .feedback li>div.width2 {
  margin-left: 6px;
  padding: 3px 6px 15px 24px;
  width: 456px;
}

.feedback_form>.width2 {
  background: #f90 url(/images/nose_left.png) no-repeat;
  color: #fff;
}

.feedback_form label.width2, .feedback_form label.width2,
.feedback_form label.width2 input, .feedback_form label.width2 textarea, .feedback_form .width2>textarea,
.feedback_form .width2.actions, .feedback .width2.actions,
.feedback .tag_form input[type=text] {
  width: 444px;
}

.answer_form {
  padding-bottom: 18px;
}

img.avatar {
  height: 105px;
  padding-bottom: 3px;
}

.feedback .first>.tags, .get_feedback h5 {
  top: 23px;
}

.feedback ul {
  list-style-type: none;
  margin-bottom: 0;
}

.feedback ul ul {
  top: 18px;
}

.feedback ul li {
  padding-bottom: 18px;
}

.feedback ul li>div {
  padding-bottom: 0;
}

.feedback .original>div.width2 {
  padding-bottom: 0;
  background: #D9D9D9 url(/images/nose_feedback_left.png) no-repeat;
}

.feedback .answer>div.width2, .feedback .answer_form>div.width2 {
  margin-right: -12px;
  margin-left: 18px;
  padding: 3px 30px 0 12px;
  width: 444px;
}

.feedback .answer>div.width2 {
  background: #D9D9D9 url(/images/nose_feedback_right.png) top right no-repeat;
}

.feedback .answer_form>div.width2 {
  padding-bottom: 15px;
  background: #8C8C8C url(/images/nose_right.png) top right no-repeat;
}

.feedback li p:first-child, .feedback li p.actions, .feedback li p.tags, .feedback li .kudos .unitx2 {
  padding-top: 5px;
  padding-bottom: 0;
}

.feedback .meta p:first-child {
  font-weight: bold;
}

.feedback li .kudos {
  margin-top: 6px;
  margin-left: -12px;
  padding: 3px 0 6px 0;
  background: #8C8C8C;
  color: #fff;
}

.feedback li .kudos .unitx2 {
  padding-left: 12px;
  width: 176px;
}

.feedback li .kudos a, .feedback li .kudos a:visited {
  padding-right: 12px;
  color: #fff;
}

.feedback .original .kudos {
  margin-right: -6px;
}

.feedback .answer .kudos {
  margin-right: -18px;
}

.kudos input {
  margin-left: 0;
}

.feedback li .kudos .feedback_sparkline {
  padding-right: 40px;
}

.feedback li .kudos .feedback_sparkline img {
  padding-top: 4px;
}

/* kudos colors */
.good { color: #0f0;}
.bad { color: #f00;}
.super { color: #080;}
.crap { color: #800;}

/* footer */

#page>footer {
  margin-top: 26px;
  margin-bottom: 0;
  border-color: #262626;
}

#page>footer p {
  margin-bottom: 0;
  color: #262626;
}
