/* generic styles */

.box {
  background: #d64 url(/images/nose_top.png) no-repeat;
  padding: 22px 12px 10px 12px;
  margin: -5px 0 27px 0;
  color: #fff;
}

.stroke_heavy {
  margin-top: 11px;
  padding-top: 4px;
  border-top: 3px solid #678;
}

.stroke_heavy>div:first-child {
  margin-top: -5px;
}

.stroke_light {
  top: 0;
  margin-top: 9px;
  padding-top: 8px;
  border-top: 1px solid #abc;
}

p.stroke_light, .meta p, p.tags {
  text-indent: 0;
}

/* TODO: extract typography and make HelveticaNeue-Light failsafe */

p.intro, .intro p {
  font-family: HelveticaNeue-Light, Helvetica, Arial;
  font-size: 32px;
  line-height: 36px;
  padding-bottom: 0;
  padding-top: 9px;
  text-indent: 0;
  word-spacing: 0.05em;
}

div.intro, h1+p.intro {
  margin-top: 10px;
}

.home, .projects {
  padding-bottom: 0;
}

h1, h2, h3, h4, h5, h6, strong, dt, .meta, .tags {
  color: #678;
}

h1 {
  font-family: HelveticaNeue-Light, Helvetica, Arial;
  font-weight: bold;
}

/* header */

#page>header {
  border-bottom: 1px solid #000;
  margin-bottom: 17px;
  padding-bottom: 0;
}

.menu {
  list-style-type: none;
}

#page>header .login {
  margin-top: 18px;
  text-align: right;
}

.menu li {
  display: block;
  float: left;
  margin-right: 12px;
}

/* forms */

.notice {
  border: 1px solid #432;
  background: #fe0;
  padding: 2px 4px;
}

.button-to, .button-to div {
  display: inline;
}

.form_advisor {
  padding: 3px 6px 3px 18px;
  width: 212px;
  background: #d64 url(/images/nose_left.png) no-repeat;
  color: #fff;
}

.actions { 
  text-align: right;
}

.actions input, .button-to input {
  font-family: HelveticaNeue, Helvetica, Arial;
  background: #678;
  background: -webkit-gradient(linear, left top, left bottom, from(#789), to(#456));
  margin-top: -1px;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 -1px 2px rgba(1, 1, 1, 0.35);
  color: #fff;
  border: none;
  border-bottom: 1px solid rgb(51, 68, 85);
}

.actions input:hover, .button-to input:hover {
  background: #678;
  background: -webkit-gradient(linear, left top, left bottom, from(#567), to(#234));
  border-bottom: 1px solid rgb(17, 34, 51);
}

/* home */

.claim {
  font-size: 60px;
  letter-spacing: -0.04em;
  line-height: 54px;
  top: 4px;
  color: #d64;
}

.home .intro {
  margin-top: 25px;
}

.home .intro p {
  font-size: 24px;
  line-height: 30px;
  padding-bottom: 0;
  padding-top: 0;
  text-indent: 0;
  margin-top: 6px;
}

.home .video {
  height: 270px;
  background: #678;
}

.stroke_heavy.home {
  padding-top: 3px;
}

.projects ul, .users ul {
  top: 0;
  margin-top: 0;
  list-style: none;
}

.projects ul li, .users ul li {
  top: 0;
}

.projects .unitx1, .projects .unitx3, .users .unitx1, .users .unitx3 {
  padding-bottom: 13px;
}

.projects .unitx1 img, .users .unitx1 img {
  width: 105px;
  height: 72px;
}

/* projects */

.project .meta img {
  margin-top: -4px;
  margin-bottom: -14px;
  height: 234px;
}

ul.tags { list-style-type: none; margin:18px 0; padding:0; height:18px; }
ul.tags li { display:block; border:1px solid #432; float:left; background:#fe0 ;margin:2px; padding:2px 4px;}

.kudos_box dl, .kudos_box .kudos_actions {
  font-size: 18px;
  font-weight: bold;
  color: #678;
}

.kudos_box .kudos_actions input {
  font-size: 36px;
  line-height: 36px;
  height: 36px;
  padding-top: 0;
  vertical-align: bottom;
}

.kudos_box dl {
  position: relative;
  margin-top: -3px;
  height: 26px;
  border-bottom: 1px solid #678;
}

.kudos_box dd {
  position: absolute;
  top: -6px;
  right: 0;
  padding: 4px 12px;
  height: 24px;
  background: #678;
  color: #fff;
  text-align: right;
}

.kudos_actions {
  padding-bottom: 13px;
}

.feedback {
  margin-top: -2px;
}

.feedback_form>div.width2, .feedback li>div.width2 {
  margin-left: 6px;
  padding: 3px 6px 15px 24px;
  width: 456px;
}

.feedback_form>.width2 {
  background: #d64 url(/images/nose_left.png) no-repeat;
  color: #fff;
}

.feedback_form label.width2, .feedback_form label.width2,
.feedback_form label.width2 input, .feedback_form label.width2 textarea, .feedback_form .width2>textarea,
.feedback_form .width2.actions, .feedback .width2.actions,
.feedback .tag_form input[type=text] {
  width: 444px;
}

img.avatar {
  height: 105px;
  padding-bottom: 3px;
}

.feedback .first>.tags, .get_feedback h5 {
  top: 23px;
}

.feedback ul {
  list-style-type: none;
  top: 0;
  margin-bottom: 0;
}

.feedback .original>div.width2 {
  padding-bottom: 0;
  background: #E0E3E6 url(/images/nose_feedback_left.png) no-repeat;
}

.feedback .answer>div.width2, .feedback .answer_form>div.width2 {
  margin-right: -12px;
  margin-left: 18px;
  padding: 3px 30px 0 12px;
  width: 444px;
}

.feedback .answer>div.width2 {
  background: #E0E3E6 url(/images/nose_feedback_right.png) top right no-repeat;
}

.feedback .answer_form>div.width2 {
  padding-bottom: 15px;
  background: #d64 url(/images/nose_right.png) top right no-repeat;
}

.feedback li p:first-child, .feedback li p.actions, .feedback li .kudos .unitx2 {
  padding-top: 5px;
  padding-bottom: 0;
}

.feedback .meta p:first-child {
  font-weight: bold;
}

.feedback li .kudos {
  margin-top: 6px;
  margin-left: -12px;
  padding: 3px 0 6px 0;
  background: #d64;
  color: #fff;
}

.feedback li .kudos .unitx2 {
  padding-left: 12px;
  width: 216px;
}

.feedback li .kudos a {
  padding-right: 12px;
  color: #fff;
}

.feedback .original .kudos {
  margin-right: -6px;
}

.feedback .answer .kudos {
  margin-right: -18px;
}

.kudos input {
  margin-left: 0;
}

.feedback li .kudos .feedback_sparkline img {
  padding-top: 4px;
}

/* kudos colors */
.good { color: #0f0;}
.bad { color: #f00;}
.super { color: #080;}
.crap { color: #800;}

/* user */

.user .meta img {
  margin-top: -4px;
  margin-bottom: 4px;
}

/* footer */

html, body, #page {
  margin-bottom: 0;
  padding-bottom: 0;
}

#page>footer {
  margin-top: 26px;
  margin-bottom: 0;
  border-color: #000;
}

#page>footer p {
  margin-bottom: 0;
  color: #678;
}
