#page {
  margin: 0 auto;
  width: 966px; /* 80.5em */
}

.width1 { width: 228px; } /* 19.0em */
.width2 { width: 474px; } /* 39.5em */
.width3 { width: 720px; } /* 60.0em */
.width4, .unitx8 { clear: left; margin-left: 0; width: 966px; } /* 80.5em */

.unitx1 { width: 105px; } /*  8.75em */
.unitx2 { width: 228px; } /* 19.00em, Same as width1 */
.unitx3 { width: 351px; } /* 29.25em */
.unitx4 { width: 474px; } /* 39.50em, Same as width2 */
.unitx5 { width: 597px; } /* 49.75em */
.unitx6 { width: 720px; } /* 60.00em, Same as width3 */
.unitx7 { width: 843px; } /* 70.25em */

a, a:visited { color: #f90; }

a:hover, a:visited:hover { background: #f90; color: white; text-decoration: none; }

form { overflow: visible;}

label.width1 input, label.width1 textarea, .width1>textarea { width: 224px; }
label.width2 input, label.width2 textarea, .width2>textarea { width: 470px; }
label.width3 input, label.width3 textarea, .width3>textarea { width: 716px; }
label.width4 input, label.width4 textarea, .width4>textarea { width: 962px; }
.multilinex4 textarea { height: 72px }
.multilinex6 textarea { height: 108px }

h1 { margin-bottom: 36px; }
h4 { margin-bottom: 18px; }
