%ul.column.width2.first
  - projects.each do |project|
    %li.column.width2.first
      .column.unitx1.first
        != image_tag project.image.url(:thumb, :class => 'unitx1')
      .column.unitx3
        %h6
          != kudos_sparkline_tag(project.kudos_history, "ffffff", "000000", "50x18") unless project.kudos_history.empty?
          !=link_to h(project.title), project
        %p= truncate(project.description, :length => 140)