%h1.column.width2.first Project owners and experts:
%p.column.width2.intro
  - unless params[:tag].blank?
    Everyone tagged with ‘#{h params[:tag]}’.
  - else
    Who’s hot and who’s not.

%section.column.width4.first
  != render :partial => 'shared/users', :locals => { :users => @users, :all => true }
            