%h1.column.width4.first
  = @user.name
  (#{@user.username})
%section.width4.first
    
  %p Ideas on what could be here: The users' projects, the latest feedbacks the user has given, ranking/kudos information
    