%section.width4.first
  %h2
    = @user.name
    (#{@user.username})
    
  %p Ideas on what could be here: The users' projects, the latest feedbacks the user has given, ranking/kudos information
    