%ul.column.width2.first.projects
  - projects.each do |project|
    %li.column.width2.first
      .column.unitx1.first
        != link_to image_tag(project.image.url(:thumb, :class => 'unitx1')), project
      .column.unitx3
        %h6.column.unitx2.first
          !=link_to h(project.title), project
          != kudos_sparkline_tag(project.kudos_history, "ffffff", "000000", "50x12")
        %p.column.unitx3.first= truncate(project.description, :length => 170)  
        %p.column.width2.first.tags
          %strong Tags:
          - project.tag_list.each do |tag|
            = tag