- @page_title = 'Home'

%section.column.width4.first.home
  .column.width2.first
    %h1.claim
      Because you love
      %br
      getting it right.
    .intro
      %p Get instant feedback for your project.
      %p Build reputation as a trusted advisor.
      %p Discover the smartest teams.
      %p
        - unless logged_in?
          != link_to 'Sign up and join in!', new_session_path
        - else
          != link_to 'Create a new project!', new_project_path
  .column.width2.video
    %p Video coming soon!
.column.width4.first.stroke_heavy.home
  %section.column.width2.first
    %h2.column.width2.first Hot projects
    != render :partial => 'shared/projects', :locals => { :projects => @hot_projects, :all => false }
  
  %section.column.width2
    %h2.column.width2.first Trusted users
    != render :partial => 'shared/users', :locals => { :users => @respected_users, :all => false }
    