%section.width4.first
  %div.box
    %h3 Because you love getting it right
    %ul
      %li Instant feedback and adoration of your new concept/feature
      %li Build your reputation as a trusted advisor
      %li See the hottest emerging features
    %p Free, fun and funky - join the party!
%section.column.width2.first
  %h2 Hot projects
%section.column.width2
  %h2 Active users