%section.width4.first.home
  .column.width2.first
    %h1.claim
      Because you love
      %br
      getting it right.
    .intro
      %p Get instant feedback for your project.
      %p Build your reputation as a trusted advisor.
      %p Discover the smartest teams in the world.
      %p!= link_to 'Sign up and join in!', new_session_path
  .column.width2.video
  	:html
  	  <object width="560" height="340"><param name="movie" value="http://www.youtube.com/v/75IBHZ2BU0c&hl=en_US&fs=1&"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/75IBHZ2BU0c&hl=en_US&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="560" height="340"></embed></object>
.column.width4.first.stroke_heavy.home
  %section.column.width2.first.projects
    %h2.column.width2.first Hot projects
    != render :partial => 'shared/projects', :locals => { :projects => @hot_projects }
  
  %section.column.width2
    %h2.column.width2.first Trusted users
    != render :partial => 'shared/users', :locals => { :users => @respected_users }
    