!= f.error_messages

%label.first.width2
  Title
  != f.text_field :title, :title => 'Give it a sweet name!', :class => 'show_advice'
%label.first.width2.multilinex6
  Description
  != f.text_area :description, :title => 'Tell us all the interesting stuff about it!', :class => 'show_advice'
%label.first.width2
  Tags
  != f.text_field :tag_list, :title => 'Taaaag it!', :class => 'show_advice'
