%section.width4.first
  %h4 Projects on idealise

  %table
    %thead
      %tr
        %th Title
        %th Short description
        %th Description
    %tbody
      - @projects.each do |project|
        %tr
          %td
            !=h project.title
          %td
            !=h project.short_description
          %td
            !=h project.description
          %td
            != link_to 'Show', project
          %td
            != link_to 'Edit', edit_project_path(project)
          %td
            != link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete

  %p
    != link_to 'New project', new_project_path