%h1.column.width1.first Projects on idealise
%p.column.width2.intro
  - unless params[:tag].blank?
    Everything tagged with ‘#{h params[:tag]}’.
  - else
    All the latest and greatest stuff around here.
%p.column.width1.intro
  - if logged_in?
    != link_to 'Create a new project!', new_project_path
  - else
    != link_to 'Sign in to create a project!', new_session_path


%section.column.width4.first
  != render :partial => 'shared/projects', :locals => { :projects => @hot_projects, :all => true }
