- form_for(:feedback, :url => project_feedbacks_path(project), :html => { :class => 'column width3 first' }) do |f|
  %label.width3.multilinex3.first
    Give your Feedback here:
    != f.text_area :text
  %p.width3.first.actions
    != f.submit 'Submit'
